
.IngredientsContainer {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    background-color: #4ecc4e;
    color: #fff;
}

.Footer {
    padding: 10px 0;
}

.Footer button {
    height: 30px;
    cursor: pointer;
    background-color: #fff !important;
    border-radius: 5px;
}